<html>
<head>
	<title>Food Journal</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
	<div class="navbar">
		<div class="container">
			<a href="/?c={{ c_prev }}" class="pull-left">Prev Day</a>
			{% if c_next >= 0 %}
			<a href="/?c={{ c_next }}" class="pull-right">Next Day</a>
			{% endif %}
		</div>
	</div>
	<div class="container">
		<h2>{{ today|date:"D d M Y" }}</h2>

		<ul style="list-style-type: none;">
			{% for item in items %}
			<li 
			{% if item.quality == 0 %}
			style="color:green;"
			{% else %}
				{% if item.quality == 1 %}
					style="color:#FBB917;"
				{% else %}
					style="color:red;"
				{% endif %}
			{% endif %}
			>{{ item.item }}: 
			{% if item.amount == "little" or item.amount == "moderate" or item.amount == "lot" %}
				{% if item.amount == "little" %}
				A little
				{% endif %}
				{% if item.amount == "moderate" %}
				A bit
				{% endif %}
				{% if item.amount == "lot" %}
				A lot
				{% endif %}
			{% else %}
				{{ item.amount }}
			{% endif %}
			</li>
			{% endfor %}
		</ul>

		<p>
		<form action="" method="post">
			<textarea name="item" placeholder="What"></textarea><br/>
			<select name="quality">
				<option value=0>Good</option>
				<option value=1>OK</option>
				<option value=2>Bad</option>
			</select><br/>
			<select name="amount">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="little">A Little</option>
				<option value="moderate">A Bit</option>
				<option value="lot">A Lot</option>
			</select><br/>
			<input type="text" name="custom" placeholder="Custom Amount" /><br/>
			<input type="submit" />
		</form>
		</p>
	</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>
